input {
  margin-right: 1.5em;
}

.input-container {
  display: flex;
}

td {
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Nue", san-serif;
  font-size: .85em;
  color: #333;
  letter-spacing: 0.14px;
  height: 3.3em;
  border-bottom: solid 1px #e5e5e5;
}

.row-wrapper:hover {
  background-color: #fafafa;
}

.row-wrapper:hover > .email {
  color: #0070c9;
}

/* .name {
  cursor: pointer;
} */
