.container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  color: #777;
  font-size: 0.8em;
  font-weight: 500;
  height: 2.3em;
}

.header-border {
  border: 1px solid #e5e5e5;
  border-left: 0px;
  border-right: 0px;
}
