.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-wrapper {
  display: flex;
  align-items: center;
}

.delete {
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Nue", san-serif;
  border: solid 1px #b8b8b8;
  width: 5.5em;
  height: 2em;
}

.header-text {
  font-size: 2em;
  margin-bottom: .5em;
}

/* option:disabled {
  color: grey;
} */